html {
    font-size: 125%;
}

body {
    background: $bodyColor;
    color: $primaryColor;
}
.formContainer {
    padding: 50px;
}
form {
    margin: 0 auto;
    border: 1px solid rgba(10, 10, 10, 0.25);
    padding: 10px;
}
label {
    display: block;
    margin: 0;
    font-weight: bolder;
}
input[type="submit"] {
    display: block;
    margin: 1rem auto 1rem auto;
}
input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
::placeholder {
    font-size: 14px;
}

.userContainer {
    display: flex;
    justify-content: space-around;
    border: 2px solid black;

    p {
        border-bottom: 1px solid black;
    }
}
.linkToLogout {
    text-align: end;
    padding: 10px;
}
.centerElements {
    margin: 0 auto;
}
.alignLeft {
    text-align: left;
}
.marginLeft {
    margin-left:-1.7em ;
}
/////////////////////////////////////////////////////////////////////
// Boostrap Classes
/////////////////////////////////////////////////////////////////////
.row {
    text-align: center;
    padding-bottom: 0.5em;
}